<header class="site-header">


  <div class="wrapper">

    <svg version="1.1" id="Lager_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="-280 236.9 398.5 88.1" style="enable-background:new -280 236.9 398.5 88.1;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#1D1D1B;stroke:#FFFFFF;stroke-miterlimit:10;}
    .st1{enable-background:new    ;}
    .st2{fill:#FFFFFF;}
    .st3{font-family:'ff-tisa-sans-web-pro';}
    .st4{font-size:72px;}
    .st5{font-family:'ff-tisa-sans-web-pro';}
    .st6{fill:#1D1D1B;}
</style>
<circle class="st0" cx="-236" cy="280.9" r="44"/>
<text transform="matrix(1 0 0 1 -260.8718 308.4257)" class="st1"><tspan x="0" y="0" class="st2 st3 st4">K</tspan><tspan x="45.9" y="0" class="st2 st5 st4"> </tspan></text>
<text transform="matrix(1 0 0 1 -192.8718 308.4257)" class="st6 st3 st4">laathulhu</text>
</svg>
    <!-- viewBox="0 0 518.1 114.5" -->
   <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
    <nav class="site-nav">
      <!-- viewBox="0 0 398.5 88.1"  -->
      <!-- xml:space="preserve" -->
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/">Start
        </a>
        {% for page in site.pages %}
          {% if page.title %}

          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>
      <a id="mobile-icon" href=""><img src="/assets/img/klaathulhu3.svg" alt="mobile logo"></img></a>
      <a id="mobile-mail" href="/"><i class="fa fa-envelope-o"></i></a>

  </div>

</header>
